@{
    ViewBag.Title = "MonTool 2018";
}

@section scripts{
    @Scripts.Render("~/Scripts/funcionesMain.js")
}
<div class="container-fluid">
    <h1>Sistema Mon Tool</h1>
    <h2>Herramienta de prueba v1 (2018)</h2>
    <div class="row" style="padding: 30px">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading panel-info">Título 1</div>
                <div class="panel-body">
                    Descripción 1.<br />
                    Descripción 1.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info" onclick="window.location.href='@Url.Action("MonWindow", "Home")'">
                <div class="panel-heading">Título 2</div>
                <div class="panel-body">
                    Descripción 2.<br />
                    Descripción 2.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">Título 3</div>
                <div class="panel-body">
                    Descripción 3.<br />
                    Descripción 3.
                </div>
            </div>
        </div>
    </div>
</div><br>